@model IEnumerable<project03.Models.User>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>listUserModel</title>
</head>
<body>
    <div> 
        @foreach(var item in Model)
            {
                @item.name
            }
    </div>
</body>
</html>
