@model IEnumerable<project03.Models.entiy.HangHoa>
<!-- Begin New Product -->
<div class="content">
    @Html.Action("render_product", "shop")

</div>
    <!-- End New Product -->
    <!-- Begin Feature Products -->



    @Html.Action("render_feature", "Shop")



<!-- End Feature Products -->
