@model project03.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>modelUser</title>
</head>
<body>
    <div> 
       @Model.name
    </div>
</body>
</html>
